{% extends 'base.html' %}
<!-- {% load crispy_forms_tags %} -->

{% load static %}
{% block title %} Students List {% endblock title %}
{% comment %} {% block link %}

{% endblock link %} {% endcomment %}
{% block content %}

<div class="container-fluid">
    <h1>Students Info</h1>
    <div class="table-responsive">
        <!-- <table class="table table-bordered table-light"> -->
        <table id="bootstrapdatatable" width="100%" class="display">
            <thead>
                {% comment %} <th scope="col" style="padding-top: 18px; padding-bottom: 57px;">Sl.No.</th> {% endcomment %}
                <th scope="col" style="padding-top: 18px; padding-bottom: 57px;">Class Name</th>
                <th scope="col" style="padding-top: 18px; padding-bottom: 57px;">Subsidiary Fee</th>
                <th scope="col" style="padding-top: 18px; padding-bottom: 57px;">Laboratory Fee</th>
                <th scope="col" style="padding-top: 18px; padding-bottom: 57px;">Tuition Fee</th>
                <th scope="col" style="padding-top: 18px; padding-bottom: 57px;">Computer Fee</th>
                <th scope="col" style="padding-top: 18px; padding-bottom: 57px;">One Time Fee</th>
                <th scope="col" style="padding-top: 18px; padding-bottom: 57px;">Normal Fee</th>
            </thead>
            <tbody>
                {% for instance in fees %}
                <tr>
                    {% comment %} <td scope="row">{{forloop.counter}}</td> {% endcomment %}
                    <td scope="row">{{instance.class_name}}</td>
                    <td scope="row">{{instance.subs_fee}}</td>
                    <td scope="row">{{instance.lab_fee}}</td>
                    <td scope="row">{{instance.tut_fee}}</td>
                    <td scope="row">{{instance.comp_fee}}</td>
                    <td scope="row">{{instance.one_time}}</td>
                    <td scope="row">{{instance.normal}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    $(document).ready(function () {
        $("#bootstrapdatatable").DataTable();
    });

</script>
<!-- <script>
    $(document).ready(function () {
        $('#bootstrapdatatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script> -->
{% endblock script %}