{% extends 'base.html' %}

{% load static %}

{% block title %}Fee Structure{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-dark mb-1">FEE STRUCTURE&nbsp;</h3>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>CLASS</th>
                <th>Subsidiary Fee</th>
                <th>Laboratory Fee</th>
                <th>Tuition Fee</th>
                <th>Comp.Fee</th>
                <th>One Time</th>
                <th>Normal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Class 1</td>
                <td>Cell 2</td>
                <td>Cell 2</td>
                <td>Cell 2</td>
                <td>Cell 2</td>
                <td>Cell 2</td>
                <td>Cell 2</td>
            </tr>
            <tr>
                <td>Class 2</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 3</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 5</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 6</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 7</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 8</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 9</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 10</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 11&amp;12 (BIO)</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 11&amp;12 (Comp.)</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 11&amp;12 (Commerce+Comp.)</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Class 11&amp;12 (Commerce+Maths)</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock content %}