{% extends 'base.html' %}

{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-dark mb-4">ENTRY PROFILE</h3>
    <div class="row mb-3">
        <div class="col-lg-8">
            <div class="row mb-3 d-none">
                <div class="col">
                    <div class="card text-white bg-primary shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-success shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                since last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card text-dark text-uppercase text-left shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">sTUDENT DETAILS FORM</p>
                        </div>
                        <div class="card-body text-left text-dark">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="username"><strong>Admission
                                                    Number</strong></label><input class="form-control" type="text"
                                                placeholder="Enter admission number" name="adm_number">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="email"><strong>ADMISSION
                                                    DATE</strong><br></label><input class="form-control" type="date"
                                                placeholder="Enter date" name="adm_date"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label
                                                for="first_name"><strong>cLASS-sec</strong><br></label><input
                                                class="form-control" type="text" placeholder="class-sec"
                                                name="class_sec">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="last_name"><strong>rOLL
                                                    nO.&nbsp;</strong><br></label><input class="form-control"
                                                type="number" placeholder="Roll no." name="roll_no"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="first_name"><strong>sTUDENT'S
                                                    NAME</strong></label><input class="form-control" type="text"
                                                placeholder="Enter name" name="st_name"></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="last_name"><strong>sTUDENT'S
                                                    aADHAR NO.</strong></label><input class="form-control" type="text"
                                                placeholder="Enter aadhar" name="aad_no"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="first_name"><strong>mOTHER'S
                                                    NAME</strong></label><input class="form-control" type="text"
                                                placeholder="Enter mother's name" name="mother_name"></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="last_name"><strong>MOTHER'S
                                                    AADHAR NO.</strong></label><input class="form-control" type="text"
                                                placeholder="Enter mother's aadhar" name="mother_aad"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="first_name"><strong>fATHER'S
                                                    NAME</strong></label><input class="form-control" type="text"
                                                placeholder="Enter father's name" name="father_name"></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="last_name"><strong>FATHER'S
                                                    AADHAR NO.</strong></label><input class="form-control" type="text"
                                                placeholder="Enter father's aadhar" name="father_aad"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="first_name"><strong>dATE OF
                                                    bIRTH</strong></label><input class="form-control" type="date"
                                                placeholder="Enter date of birth" name="dob"></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="last_name"></label></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="first_name"><strong>mOBILE
                                                    NUMBER 1</strong><br></label><input class="form-control"
                                                type="phonenumber" placeholder="mobile 1" name="mob1"></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="last_name"><strong>MOBILE
                                                    NUMBER 2&nbsp;</strong><br></label><input class="form-control"
                                                type="phonenumber" placeholder="mobile 2" name="mob2"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="first_name"><strong>pRESENT
                                                    ADDRESS</strong></label><input class="form-control" type="text"
                                                placeholder="address" name="pr_address"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="first_name"><strong>PERMANENT
                                                    ADDRESS</strong></label><input class="form-control" type="text"
                                                placeholder="address" name="perm_address"></div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="first_name"><strong>EMAIL
                                                            id</strong></label><input class="form-control" type="email"
                                                        placeholder="Enter your email" name="email"></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="first_name"><strong>Gender
                                                        </strong></label>
                                                    <select name="gender" class="form-control">
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="first_name"><strong>FEE
                                                            CATEGORY</strong></label><input class="form-control"
                                                        type="text" placeholder="Fee category" name="fee_category">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="last_name"><strong>CASTE</strong></label><input
                                                        class="form-control" type="text" placeholder="caste"
                                                        name="caste"></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="blood_grp"><strong>BLOOD
                                                            GROUP</strong></label>
                                                    <select name="blood_grp" class="form-control">
                                                        <option></option>
                                                        <option value="A+">A+</option>
                                                        <option value="B+">B+</option>
                                                        <option value="AB+">AB+</option>
                                                        <option value="O+">O+</option>
                                                        <option value="A-">A-</option>
                                                        <option value="B-">B-</option>
                                                        <option value="AB-">AB-</option>
                                                        <option value="O-">O-</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="first_name"><strong>RELIGION</strong> <select
                                                            name="religion">
                                                            {% for religion in religions  %}
                                                            <option value="{{ religion }}">{{ religion.name }}
                                                            </option>
                                                            {% endfor %}
                                                        </select></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="last_name"><strong>rEF. ADMISSION
                                                            NO. OF
                                                            EX-sTUDENT</strong></label><input class="form-control"
                                                        type="text" placeholder="Reference admission number"
                                                        name="ref_no"></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="first_name"><strong>ACTION</strong></label><input
                                                        class="form-control" type="text" placeholder="John"
                                                        name="action"></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="last_name"><strong>ARREAR
                                                            DUE</strong></label><input class="form-control" type="text"
                                                        placeholder="Doe" name="arrear_due"></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="first_name"><strong>tOTAL ONE TIME
                                                            DUE</strong></label><input class="form-control" type="text"
                                                        placeholder="John" name="ttod"></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="last_name"><strong>TOTAL NORMAL
                                                            DUE</strong></label><input class="form-control" type="text"
                                                        placeholder="Doe" name="tnd"></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="first_name"><strong>due
                                                            (Yes/No)</strong></label>
                                                    <select name="due" class="form-control">
                                                        <option></option>
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <center><input class="btn btn-success" type="submit" value="SUBMIT"></center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card shadow mb-5"></div>
</div>
</div>
{% endblock content %}